@import "tailwindcss";

:root {
    --background: #A8BBBF;
    --foreground: #7B3B4B;
    --main-color: #7B3B4B;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #A8BBBF;
        --foreground: #7B3B4B;
        --main-color: #7B3B4B;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.welcome-container {
    position: relative;
    overflow: hidden;
}

.welcome-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("../../public/images/suminagashi_2.png") center center / cover no-repeat;
    filter: blur(10px);
    transform: scale(1.1);
    z-index: -1;
    backdrop-filter: none;
}